/* == COLORS == */
$color-primary: #B6933D;
$color-secondary: #707070;
$color-tertiary: #EDE7E7;
$color-secondary-FALSE: #3F3832;

$color-basic-light: #DFEEE0;
$color-basic-middle: #B1C7B5;
$color-basic-dark: #829488;

$color-recovery-light: #FDD9B7;
$color-secondary-middle: #F7AF81;
$color-secondary-dark: #EF7C57;